{
  "name": "Network Helper",
  "version": "1.0.0",
  "description": "Persistent network client information and hostname mappings",
  "author": "TechniLux",
  "url": "https://github.com/elabx-org/technilux-apps",
  "appRecordDataTemplate": null,
  "configTemplate": {
    "cleanupEnabled": true,
    "cleanupIntervalHours": 24,
    "staleThresholdDays": 30,
    "autoResolveHostnames": false,
    "defaultGroup": "Ungrouped",
    "enableNotifications": false
  }
}
