## .NET Build artifacts
bin/
obj/
build/
libs/
*.zip

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options
.vs/
*.cache

## NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## macOS
.DS_Store

## IDE
.idea/
.vscode/
*.swp
*.swo
*~
