{
  "enableForwarding": true,
  "appPreference": 200,
  "proxyServers": [],
  "forwarders": [
    {
      "name": "cloudflare-udp",
      "dnssecValidation": true,
      "forwarderProtocol": "Udp",
      "forwarderAddresses": [
        "1.1.1.1",
        "1.0.0.1"
      ]
    },
    {
      "name": "cloudflare-doh",
      "dnssecValidation": true,
      "forwarderProtocol": "Https",
      "forwarderAddresses": [
        "https://cloudflare-dns.com/dns-query"
      ]
    },
    {
      "name": "router",
      "dnssecValidation": false,
      "forwarderProtocol": "Udp",
      "forwarderAddresses": [
        "192.168.1.1"
      ]
    }
  ],
  "networkGroupMap": {
    "0.0.0.0/0": "default",
    "[::]/0": "default"
  },
  "groups": [
    {
      "name": "default",
      "enableForwarding": false,
      "forwardings": [],
      "adguardUpstreams": []
    },
    {
      "name": "example-multigroup",
      "enableForwarding": true,
      "forwardings": [
        {
          "forwarders": ["router"],
          "domains": ["*.local", "*.lan"]
        }
      ],
      "adguardUpstreams": []
    }
  ]
}
